.customShadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 50%;
}

.customShadow:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* Scroll Hidden */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

